{% extends "base.html" %}

{% block nav-home %}{% endblock %}
<!-- begin entry title  -->
{% block title %}{{ entry.title }} &dash; {% endblock %}
<!-- end entry title -->


{% block content %}
<!-- begin single entry  -->
	{% include "_entry.html" with entry=entry only %}
<!-- end single entry -->

<!-- begin comments  -->
<section id="comments">
<hr>
	<!-- begin comment form  -->
	<section id ="add_comment_form">
		<h5>Add a comment</h5>
	<div class="large-8">
	
		<form id ="_add_comment_form" method="post" action="" name="add_comment">
			{%  csrf_token %}	
			
			{{ form.as_p }}
			
		    <input id="add_comment_submit" type="submit" class="round tiny button" value="Create Comment">
		    <label for="id_name">* Indicates required field.</label>
		</form>
	</div>
	</section>
    
	<!-- end comment form -->
			
				<hr>
				<h4>Comments</h4>
				{% for comment in entry.comment_set.all %}
			
					<div id="comments" class="large-8 columns">
						
						{{ comment|linebreaks }}						
					</div>
					<div class="large-4 columns gravatar">				
						<img src="{{ comment.gravatar_url }}" alt="gravatar" id="gravatar">
						
						<div>
							{{ comment.name }}
							<br>{{ comment.modified_at }}
							<br>
						</div>
								
					</div>												
					<hr>			
				
				{% empty %}
				No comments yet.
				{% endfor %}
			
<!-- end comments -->
{% endblock %}



